<div>
  <h2 id="page-heading" data-cy="TagTypeHeading">
    <span jhiTranslate="divinoApp.tagType.home.title">Tag Types</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="divinoApp.tagType.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tag-type"
        [routerLink]="['/tag-type/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="divinoApp.tagType.home.createLabel"> Criar novo(a) Tag Type </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tagTypes?.length === 0">
    <span jhiTranslate="divinoApp.tagType.home.notFound">Nenhum Tag Types encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="tagTypes && tagTypes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <ng-container *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="divinoApp.tagType.createdBy">Created By</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdOn">
              <div class="d-flex">
                <span jhiTranslate="divinoApp.tagType.createdOn">Created On</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedBy">
              <div class="d-flex">
                <span jhiTranslate="divinoApp.tagType.updatedBy">Updated By</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedOn">
              <div class="d-flex">
                <span jhiTranslate="divinoApp.tagType.updatedOn">Updated On</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deletedBy">
              <div class="d-flex">
                <span jhiTranslate="divinoApp.tagType.deletedBy">Deleted By</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deletedOn">
              <div class="d-flex">
                <span jhiTranslate="divinoApp.tagType.deletedOn">Deleted On</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
          </ng-container>
          <ng-container>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="divinoApp.tagType.description">Description</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="restricted">
              <div class="d-flex">
                <span jhiTranslate="divinoApp.tagType.restricted">Restricted</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="defaultTag.description">
              <div class="d-flex">
                <span jhiTranslate="divinoApp.tagType.defaultTag">Default Tag</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </ng-container>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let tagType of tagTypes; trackBy: trackId" data-cy="entityTable">
          <ng-container *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <td>
              <a [routerLink]="['/tag-type', tagType.id, 'view']">{{ tagType.id }}</a>
            </td>
            <td>{{ tagType.createdBy }}</td>
            <td>{{ tagType.createdOn | formatMediumDatetime }}</td>
            <td>{{ tagType.updatedBy }}</td>
            <td>{{ tagType.updatedOn | formatMediumDatetime }}</td>
            <td>{{ tagType.deletedBy }}</td>
            <td>{{ tagType.deletedOn | formatMediumDatetime }}</td>
          </ng-container>
          <ng-container>
            <td>{{ tagType.description }}</td>
            <td>{{ tagType.restricted }}</td>
            <td>
              <div *ngIf="tagType.defaultTag">
                <a [routerLink]="['/tag', tagType.defaultTag.id, 'view']">{{ tagType.defaultTag.description }}</a>
              </div>
            </td>
            <td class="text-end">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/tag-type', tagType.id, 'view']"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                </button>

                <button
                  type="submit"
                  [routerLink]="['/tag-type', tagType.id, 'edit']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                </button>

                <button type="submit" (click)="delete(tagType)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                </button>
              </div>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
