<div>
  <h2 id="page-heading" data-cy="MemberTagHeading">
    <span jhiTranslate="divinoApp.memberTag.home.title">Member Tags</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="divinoApp.memberTag.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-member-tag"
        [routerLink]="['/member-tag/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="divinoApp.memberTag.home.createLabel"> Criar novo(a) Member Tag </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="memberTags?.length === 0">
    <span jhiTranslate="divinoApp.memberTag.home.notFound">Nenhum Member Tags encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="memberTags && memberTags.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <ng-container *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="divinoApp.memberTag.createdBy">Created By</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdOn">
              <div class="d-flex">
                <span jhiTranslate="divinoApp.memberTag.createdOn">Created On</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedBy">
              <div class="d-flex">
                <span jhiTranslate="divinoApp.memberTag.updatedBy">Updated By</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updatedOn">
              <div class="d-flex">
                <span jhiTranslate="divinoApp.memberTag.updatedOn">Updated On</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deletedBy">
              <div class="d-flex">
                <span jhiTranslate="divinoApp.memberTag.deletedBy">Deleted By</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deletedOn">
              <div class="d-flex">
                <span jhiTranslate="divinoApp.memberTag.deletedOn">Deleted On</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
          </ng-container>
          <ng-container>
            <th scope="col" jhiSortBy="tag.description">
              <div class="d-flex">
                <span jhiTranslate="divinoApp.memberTag.tag">Tag</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="member.nickname">
              <div class="d-flex">
                <span jhiTranslate="divinoApp.memberTag.member">Member</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </ng-container>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let memberTag of memberTags; trackBy: trackId" data-cy="entityTable">
          <ng-container *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <td>
              <a [routerLink]="['/member-tag', memberTag.id, 'view']">{{ memberTag.id }}</a>
            </td>
            <td>{{ memberTag.createdBy }}</td>
            <td>{{ memberTag.createdOn | formatMediumDatetime }}</td>
            <td>{{ memberTag.updatedBy }}</td>
            <td>{{ memberTag.updatedOn | formatMediumDatetime }}</td>
            <td>{{ memberTag.deletedBy }}</td>
            <td>{{ memberTag.deletedOn | formatMediumDatetime }}</td>
          </ng-container>
          <ng-container>
            <td>
              <div *ngIf="memberTag.tag">
                <a [routerLink]="['/tag', memberTag.tag.id, 'view']">{{ memberTag.tag.description }}</a>
              </div>
            </td>
            <td>
              <div *ngIf="memberTag.member">
                <a [routerLink]="['/member', memberTag.member.id, 'view']">{{ memberTag.member.nickname }}</a>
              </div>
            </td>
            <td class="text-end">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/member-tag', memberTag.id, 'view']"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                </button>

                <button
                  type="submit"
                  [routerLink]="['/member-tag', memberTag.id, 'edit']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                </button>

                <button type="submit" (click)="delete(memberTag)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                </button>
              </div>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
