<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-member-tag-heading" data-cy="MemberTagCreateUpdateHeading" jhiTranslate="divinoApp.memberTag.home.createOrEditLabel">
        Criar ou editar Member Tag
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
          <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>

          <div class="mb-3">
            <label class="form-label" jhiTranslate="divinoApp.memberTag.createdBy" for="field_createdBy">Created By</label>
            <input
              type="number"
              class="form-control"
              name="createdBy"
              id="field_createdBy"
              data-cy="createdBy"
              formControlName="createdBy"
              [readonly]="true"
            />
          </div>

          <div class="mb-3">
            <label class="form-label" jhiTranslate="divinoApp.memberTag.createdOn" for="field_createdOn">Created On</label>
            <div class="d-flex">
              <input
                id="field_createdOn"
                data-cy="createdOn"
                type="datetime-local"
                class="form-control"
                name="createdOn"
                formControlName="createdOn"
                placeholder="YYYY-MM-DD HH:mm"
                [readonly]="true"
              />
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" jhiTranslate="divinoApp.memberTag.updatedBy" for="field_updatedBy">Updated By</label>
            <input
              type="number"
              class="form-control"
              name="updatedBy"
              id="field_updatedBy"
              data-cy="updatedBy"
              formControlName="updatedBy"
              [readonly]="true"
            />
          </div>

          <div class="mb-3">
            <label class="form-label" jhiTranslate="divinoApp.memberTag.updatedOn" for="field_updatedOn">Updated On</label>
            <div class="d-flex">
              <input
                id="field_updatedOn"
                data-cy="updatedOn"
                type="datetime-local"
                class="form-control"
                name="updatedOn"
                formControlName="updatedOn"
                placeholder="YYYY-MM-DD HH:mm"
                [readonly]="true"
              />
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" jhiTranslate="divinoApp.memberTag.deletedBy" for="field_deletedBy">Deleted By</label>
            <input
              type="number"
              class="form-control"
              name="deletedBy"
              id="field_deletedBy"
              data-cy="deletedBy"
              formControlName="deletedBy"
              [readonly]="true"
            />
          </div>

          <div class="mb-3">
            <label class="form-label" jhiTranslate="divinoApp.memberTag.deletedOn" for="field_deletedOn">Deleted On</label>
            <div class="d-flex">
              <input
                id="field_deletedOn"
                data-cy="deletedOn"
                type="datetime-local"
                class="form-control"
                name="deletedOn"
                formControlName="deletedOn"
                placeholder="YYYY-MM-DD HH:mm"
                [readonly]="true"
              />
            </div>
          </div>
        </div>
        <div>
          <div class="mb-3">
            <label class="form-label" jhiTranslate="divinoApp.memberTag.tag" for="field_tag">Tag</label>
            <select class="form-control" id="field_tag" data-cy="tag" name="tag" formControlName="tag" [compareWith]="compareTag">
              <option *ngIf="editForm.get(['tag'])!.value == null" [ngValue]="null" selected></option>
              <option [ngValue]="tagOption" *ngFor="let tagOption of tagsSharedCollection">{{ tagOption.description }}</option>
            </select>
          </div>
          <div *ngIf="editForm.get(['tag'])!.invalid && (editForm.get(['tag'])!.dirty || editForm.get(['tag'])!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get(['tag'])?.errors?.required" jhiTranslate="entity.validation.required">
              O campo é obrigatório.
            </small>
          </div>

          <div class="mb-3">
            <label class="form-label" jhiTranslate="divinoApp.memberTag.member" for="field_member">Member</label>
            <select
              class="form-control"
              id="field_member"
              data-cy="member"
              name="member"
              formControlName="member"
              [compareWith]="compareMember"
            >
              <option *ngIf="editForm.get(['member'])!.value == null" [ngValue]="null" selected></option>
              <option [ngValue]="memberOption" *ngFor="let memberOption of membersSharedCollection">{{ memberOption.nickname }}</option>
            </select>
          </div>
          <div *ngIf="editForm.get(['member'])!.invalid && (editForm.get(['member'])!.dirty || editForm.get(['member'])!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get(['member'])?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              O campo é obrigatório.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
