<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-member-heading" data-cy="MemberCreateUpdateHeading" jhiTranslate="mngmtInstitunaApp.member.home.createOrEditLabel">
        Criar ou editar Member
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
          <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>

          <div class="mb-3">
            <label class="form-label" jhiTranslate="mngmtInstitunaApp.member.createdBy" for="field_createdBy">Created By</label>
            <input
              type="number"
              class="form-control"
              name="createdBy"
              id="field_createdBy"
              data-cy="createdBy"
              formControlName="createdBy"
              [readonly]="true"
            />
          </div>

          <div class="mb-3">
            <label class="form-label" jhiTranslate="mngmtInstitunaApp.member.createdOn" for="field_createdOn">Created On</label>
            <div class="d-flex">
              <input
                id="field_createdOn"
                data-cy="createdOn"
                type="datetime-local"
                class="form-control"
                name="createdOn"
                formControlName="createdOn"
                placeholder="YYYY-MM-DD HH:mm"
                [readonly]="true"
              />
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" jhiTranslate="mngmtInstitunaApp.member.updatedBy" for="field_updatedBy">Updated By</label>
            <input
              type="number"
              class="form-control"
              name="updatedBy"
              id="field_updatedBy"
              data-cy="updatedBy"
              formControlName="updatedBy"
              [readonly]="true"
            />
          </div>

          <div class="mb-3">
            <label class="form-label" jhiTranslate="mngmtInstitunaApp.member.updatedOn" for="field_updatedOn">Updated On</label>
            <div class="d-flex">
              <input
                id="field_updatedOn"
                data-cy="updatedOn"
                type="datetime-local"
                class="form-control"
                name="updatedOn"
                formControlName="updatedOn"
                placeholder="YYYY-MM-DD HH:mm"
                [readonly]="true"
              />
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" jhiTranslate="mngmtInstitunaApp.member.deletedBy" for="field_deletedBy">Deleted By</label>
            <input
              type="number"
              class="form-control"
              name="deletedBy"
              id="field_deletedBy"
              data-cy="deletedBy"
              formControlName="deletedBy"
              [readonly]="true"
            />
          </div>

          <div class="mb-3">
            <label class="form-label" jhiTranslate="mngmtInstitunaApp.member.deletedOn" for="field_deletedOn">Deleted On</label>
            <div class="d-flex">
              <input
                id="field_deletedOn"
                data-cy="deletedOn"
                type="datetime-local"
                class="form-control"
                name="deletedOn"
                formControlName="deletedOn"
                placeholder="YYYY-MM-DD HH:mm"
                [readonly]="true"
              />
            </div>
          </div>
        </div>
        <div>
          <div class="mb-3">
            <label class="form-label" jhiTranslate="mngmtInstitunaApp.member.nickname" for="field_nickname">Nickname</label>
            <input type="text" class="form-control" name="nickname" id="field_nickname" data-cy="nickname" formControlName="nickname" />
          </div>

          <div class="mb-3">
            <label class="form-label" jhiTranslate="mngmtInstitunaApp.member.birthday" for="field_birthday">Birthday</label>
            <div class="input-group">
              <input
                id="field_birthday"
                data-cy="birthday"
                type="text"
                class="form-control"
                name="birthday"
                ngbDatepicker
                #birthdayDp="ngbDatepicker"
                formControlName="birthday"
              />
              <button type="button" class="btn btn-secondary" (click)="birthdayDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" jhiTranslate="mngmtInstitunaApp.member.user" for="field_user">User</label>
            <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
              <option [ngValue]="null"></option>
              <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.id }}</option>
            </select>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
