<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="tagType">
      <h2 data-cy="tagTypeDetailsHeading"><span jhiTranslate="mngmtInstitunaApp.tagType.detail.title">Tag Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">Código</span></dt>
        <dd>
          <span>{{ tagType.id }}</span>
        </dd>
        <dt><span jhiTranslate="mngmtInstitunaApp.tagType.createdBy">Created By</span></dt>
        <dd>
          <span>{{ tagType.createdBy }}</span>
        </dd>
        <dt><span jhiTranslate="mngmtInstitunaApp.tagType.createdOn">Created On</span></dt>
        <dd>
          <span>{{ tagType.createdOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="mngmtInstitunaApp.tagType.updatedBy">Updated By</span></dt>
        <dd>
          <span>{{ tagType.updatedBy }}</span>
        </dd>
        <dt><span jhiTranslate="mngmtInstitunaApp.tagType.updatedOn">Updated On</span></dt>
        <dd>
          <span>{{ tagType.updatedOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="mngmtInstitunaApp.tagType.deletedBy">Deleted By</span></dt>
        <dd>
          <span>{{ tagType.deletedBy }}</span>
        </dd>
        <dt><span jhiTranslate="mngmtInstitunaApp.tagType.deletedOn">Deleted On</span></dt>
        <dd>
          <span>{{ tagType.deletedOn | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="mngmtInstitunaApp.tagType.description">Description</span></dt>
        <dd>
          <span>{{ tagType.description }}</span>
        </dd>
        <dt><span jhiTranslate="mngmtInstitunaApp.tagType.restricted">Restricted</span></dt>
        <dd>
          <span>{{ tagType.restricted }}</span>
        </dd>
        <dt><span jhiTranslate="mngmtInstitunaApp.tagType.defaultTag">Default Tag</span></dt>
        <dd>
          <div *ngIf="tagType.defaultTag">
            <a [routerLink]="['/tag', tagType.defaultTag.id, 'view']">{{ tagType.defaultTag.description }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
      </button>

      <button type="button" [routerLink]="['/tag-type', tagType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
